body {
    background-image: url("../img/painted-concrete-background.jpg");
    background-position: cover;
    background-size: cover;
}

#login_box {
    color: white;
    height: 530px;
    width: 440px;
    margin-top: 4%;
    margin-left: 37%;
    background-color: transparent;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.justify-content-center img {
    width: 180px;
}

#box_input1 {
    margin-left: 27%; 
    margin-top: -30px;
}

#box_input2 {
    margin-left: 27%;
}

.form__group {
    margin-left: 27%;
    margin-top: -30px;
}

#msg_alerta {
    display: none;
}

@media (max-width: 1400px) {
    #login_box {
        margin-left: 35%;
    }
}

@media (max-width: 1300px) {
    #login_box {
        margin-left: 33%;
    }
}

@media (max-width: 1200px) {
    #login_box {
        margin-left: 32%;
    }
}

@media (max-width: 1100px) {
    #login_box {
        margin-left: 31%;
    }
}

@media (max-width: 1050px) {
    #login_box {
        margin-left: 29%;
    }
}

