{% extends 'base.html' %}
{% load static %}

{% block content %}

<table class="table table-bordered border-primary bg-white container mt-5">
    <thead>
        <tr>
            <td>Usuario</td>
            <td>Email</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><span id="user_name"></span></td>
            <td><span id="email"></span></td>
        </tr>
    </tbody>
</table>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/usuario.js' %}"></script>
{% endblock js %}